services:
  backend:
    build:
      context: ./map_reader  
      dockerfile: Dockerfile 
    ports:
      - "5000:5000"  # map port 5000 in the container to port 5000 on the host machine
    container_name: backend-container  
    environment:
      FLASK_APP: main.py  
    networks:
      - mynetwork  

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile 
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - mynetwork 
    

networks:
  mynetwork: 
    driver: bridge  